
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    line-height: 1.5;
}


body {
    background-color: #031a42;
}

#main {
    width: 100vw;
    height: auto;
}

.sub-main {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 100%;
    height: auto;
}

.piggyvest-label {
    width: fit-content;
    text-align: center;
    color: #062863;
    padding-bottom: 30px;
    margin: 0 auto;
}


.box-container {
    margin: 0 auto;
    width: 30vw;
    background-color: #ffffff;
    border-radius: 20px;
}

.label-box {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 10px;
}

.form-content-box {
    width: 85%;
    height: auto;
    margin: 0 auto;
}

.fullname,
.email,
.phone-number,
.password,
.Referal,
.survey {
    font-family: 'Muli', sans-serif;
    margin-bottom: 1.2rem;
}

.fname,
.emailadd,
.pnumber,
.passwrd,
.Referalcode,
.surveybox {
    font-family: 'Muli', sans-serif;
    margin-bottom: 4px;
    font-size: 1rem;
    font-weight: 500;
    color: #4a5568;
    line-height: 2;
}

input[type=text],
input[type=tel],
input[type=password] {
    width: 100%;
    color: #1a202c;
    background-color: #edf2f7;
    padding: 10px 10px;
    font-size: 0.7rem;
    font-family: inherit;
    border-radius: 5px;
    border: 0 solid #e2e8f0;
    outline-style: none;
}

input[type=text-selector] {
    width: 100%;
    height: 2.8rem;
    color: #1a202c;
    background-color: #edf2f7;
    padding: 10px 10px;
    font-size: 0.7rem;
    font-family: inherit;
    border-radius: 5px;
    border: 0 solid #e2e8f0;
    outline-style: none;
}

.createbtn {
    border-radius: 10px;
    background-color: #083e9e;
    color: #ffffff;
    border: 0 solid #e2e8f0;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    text-align: center;
    padding: 10px 50px;
    width: 100%;
    margin: 30px 0 30px;
    display: inline-block;
    outline-style: none;
}

.createbtn:hover {
    background-color: #062863;
}

.login {
    text-align: center;
    color: #ffffff;
    padding: 5px 0px 5px 0px;
    margin-top: 20px;
    font-family: 'Muli', sans-serif;
}

.signin {
    text-decoration: none; 
    color: #ffffff;
}

.signin:hover {
    color: #b2b7be;
}

h1 {
    font-size: 1.7rem;
    color: #083e9e;
    text-align: center;
    font-family: 'Tw Cen MT', 'sans-serif';
    font-weight: 550;
    margin: 0;
}

p {
    font-size: 0.7rem;
    color: #4a5568;
    text-align: center;
    font-family: 'Karla', 'sans-serif';
    margin: 0;
    letter-spacing: 0.8px;

}

@media (max-width: 768px) {
    #main {
        width: 100%;
    }

    .box-container {
        width: 85%;
    }

    .fname,
    .emailadd,
    .pnumber,
    .passwrd,
    .Referalcode,
    .surveybox {
    font-family: 'Muli', sans-serif;
    margin-bottom: 4px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #4a5568;
    line-height: 2;
}

    h1 {
        font-size: 1.1rem;
    }
    
    p {
        font-size: 0.8rem;
    }

    .createbtn {
        font-size: 0.8rem;
        padding: 10px 30px;
    }

    .login {
        font-size: 0.7rem;
    }
}

