html {
    font-family: '-apple-system' ,'BlinkMacSystemFont', 'segoe ui',
                    'Roboto', 'helvetica neue', 'Arial', 'noto sans', 
                    'sans-serif', 'apple color emoji', 'segoe ui emoji', 
                    'segoe ui symbol', 'noto color emoji', 'Karla', 'U8';    
    line-height: 1.5;
}


body {
    background-color: #ADD8E6;
}

#main {
    width: 1280px;
    height: 900px;
}

.sub-main {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 860px;
}

.piggyvest-label {
    width: 191px;
    text-align: center;
    color: #062863;
    padding-bottom: 30px;
    margin: 0 auto;
}


.box-container {
    margin: 0 auto;
    width: 252px;
    height: 710px;
    background-color: #ffffff;
    border-radius: 11px 11px 11px 0px;
}

.label-box {
    width: 207px;
    height: 56px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 5px;
}

.form-content-box {
    width: 207px;
    height: 580px;
    margin: 20px;
}

.fullname,
.email,
.phone-number,
.password,
.Referal,
.survey {
    font-family: 'Tw Cen MT';
    margin-bottom: 15px;
}

.fname,
.emailadd,
.pnumber,
.passwrd,
.Referalcode,
.surveybox {
    font-family: 'Tw Cen MT';
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: 500;
    color: #4a5568;
    line-height: 2;
}

input[type=text],
input[type=tel],
input[type=password] {
    width: 100%;
    color: #1a202c;
    background-color: #edf2f7;
    padding: 10px 5px;
    box-sizing: border-box;
    font-size: 100%;
    font-family: inherit;
    border-radius: 5px;
    border: 0 solid #e2e8f0;
}

input[type=text-selector] {
    width: 100%;
    height: 45px;
    color: #1a202c;
    background-color: #edf2f7;
    padding: 10px 5px;
    box-sizing: border-box;
    font-size: 100%;
    font-family: inherit;
    border-radius: 5px;
    border: 0 solid #e2e8f0;
}

.btn {
    width: 207px;
    height: 38px;
}

.createbtn {
    width: 207px;
    height: 38px;
    border-radius: 10px 10px 10px 0px;
    background-color: #083e9e;
    color: #ffffff;
    border: 0 solid #e2e8f0;
    cursor: pointer;
    margin-top: 5px;
    font-family: 'Tw Cen MT';
    font-size: 15px;
}

.createbtn:hover {
    background-color: #062863;
}

.login {
    text-align: center;
    color: #ffffff;
    padding: 5px 0px 5px 0px;
    margin-top: 20px;
    font-weight: 400;
    font-family: 'Karla';
}

.signin {
    text-decoration: none; 
    color: #ffffff;
}

.signin:hover {
    color: #b2b7be;
}

h1 {
    font-size: 16px;
    color: #083e9e;
    text-align: center;
    font-family: 'Tw Cen MT', 'sans-serif';
    font-weight: 550;
    margin: 0;
}

p {
    font-size: 12px;
    color: #4a5568;
    text-align: center;
    font-family: 'Karla', 'sans-serif';
    margin: 0;
    letter-spacing: 0.8px;

}